{namespace com.atlassian.bitbucket.server.hook.prismamergerepositoryhook}

/**
 * @param? config
 * @param? errors
 */
{template .view}
    {call aui.form.textField}
        {param id: 'reviewers' /}
        {param value: $config ? $config['reviewers'] : null /}
        {param labelContent: 'reviewers'  /}
        {param descriptionText: 'Some description for reviewers sasas' /}
        {param errorTexts: $errors ? $errors['reviewers'] : null /}
    {/call}
{/template}
